{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
    <meta charset="utf-8">
    <title>start</title>
  </head>
  <body>
    <a href="{? url 'Fortnite' ?}">Fortnite</a>
    <a href="{? url 'APEX' ?}">APEX</a>
    <a href="{? url 'kouya' ?}">荒野行動</a>

  </body>
</html>
